{% extends 'base.html' %}


{% block content %}
<h1>{{customer_record.first_name}} {{customer_record.last_name}}</h1>

{{customer_record.username}}</br>
{{customer_record.email}}</br>
{{customer_record.phone}}</br>
{{customer_record.state}}</br>
{{customer_record.city}}</br>
{{customer_record.adress}}</br>
{{customer_record.zipcode}}</br>
{{customer_record.id}}</br>



<a type="button" class="btn btn-danger" href="{% url 'delete_record' customer_record.id %}">Delete</a>
<a type="button" class="btn btn-danger" href="{% url 'update_record' customer_record.id %}">Update</a>


{% endblock %}